<%- include('includes/header') %>

<body>
    <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/beautiful-landmark-fuji-mountain-chureito-pagoda-sunset-japan_335224-13.jpg?w=996&t=st=1709885882~exp=1709886482~hmac=4901dbb8fc4bc9a9a1ef78e2100cdc6ee28d5d5a87a2a56b1ddf062beaac16c2" 
        class="card-img-top"
         alt="..."
         />
        <div class="card-body">
          <h5 class="card-title">Karlyk</h5>
          <p class="card-text">Something stunning becouse my family lives there text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</body>

<%- include('includes/footer') %>

